* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(https://cdn.imgchest.com/files/myd5crddq4b.png);
    background-repeat: no-repeat;
    max-width: 1143px;
    min-height: 1583px;
    font-size: 2rem;
    opacity: .5;
    color: blue;
}

.container {
    display: grid;
    grid-template-rows: 65px 295px 435px 340px 60px;
    grid-template-columns: repeat(50, 1fr);
    width: 1241px;
    height: 1194px;
}

.container > * {
    border: 2px dashed blue;
    display: flex;
}

.box1 {
    grid-column: 1 / 13;
    grid-row: 1;
}

.box2 {
    grid-column: 13 / 51;
    grid-row: 1;
}

.box3 {
    grid-column: 1 / -1;
    grid-row: 2;
}

.box4 {
    grid-column: 1 / 36;
    grid-row: 3;
}

.box5 {
    grid-column: 36 / 51;
    grid-row: 3;
}

.box6 {
    grid-column: 1 / -1;
    grid-row: 4;
}

.box7 {
    grid-column: 1 / -1;
    grid-row: 5;
}